src/.idea/.idea.Scrummy/.idea/.gitignore
src/.idea/.idea.Scrummy/.idea/.name
src/.idea/.idea.Scrummy/.idea/encodings.xml
src/.idea/.idea.Scrummy/.idea/indexLayout.xml
src/.idea/.idea.Scrummy/.idea/vcs.xml
src/Scrummy.UI/bin/
src/Scrummy.UI/obj/
src/Scrummy.GitLab/bin/
src/Scrummy.GitLab/obj/
src/Scrummy.Scrum/obj/
src/Scrummy.Scrum.Contracts/obj/
src/Scrummy.GitLab.Contracts/bin/
src/Scrummy.GitLab.Contracts/obj/
src/Scrummy.GitLab.GraphQl.Contracts/obj/
src/Scrummy.GitLab.GraphQl/bin/
src/Scrummy.GitLab.GraphQl/obj/
src/Scrummy.Scrum/bin/
src/Scrummy.GitLab.GraphQl.Contracts/bin/
src/Scrummy.Scrum.Contracts/bin/
src/Scrummy.sln.DotSettings.user
