src/.idea/.idea.Scrummy/.idea/.gitignore
src/.idea/.idea.Scrummy/.idea/.name
src/.idea/.idea.Scrummy/.idea/encodings.xml
src/.idea/.idea.Scrummy/.idea/indexLayout.xml
src/.idea/.idea.Scrummy/.idea/vcs.xml
src/Io.Juenger.GitShake.UI/bin/
src/Io.Juenger.GitShake.UI/obj/
src/Io.Juenger.GitShake.GitLab/bin/
src/Io.Juenger.GitShake.GitLab/obj/
src/Io.Juenger.GitShake.Scrum/obj/
src/Io.Juenger.GitShake.Scrum.Contracts/obj/
src/Io.Juenger.GitShake.GitLab.Contracts/bin/
src/Io.Juenger.GitShake.GitLab.Contracts/obj/
src/Io.Juenger.GitShake.GitLab.GraphQl.Contracts/obj/
src/Io.Juenger.GitShake.GitLab.GraphQl/bin/
src/Io.Juenger.GitShake.GitLab.GraphQl/obj/
src/Io.Juenger.GitShake.Scrum/bin/
src/Io.Juenger.GitShake.Scrum/bin
src/Io.Juenger.GitShake.GitLab.GraphQl.Contracts/bin/
src/Io.Juenger.GitShake.Scrum.Contracts/bin/
src/Io.Juenger.GitShake.Scrum.Contracts/bin
src/Io.Juenger.GitShake.sln.DotSettings.user
src/Io.Juenger.GitShake.DataAccess.Contracts/bin/
src/Io.Juenger.GitShake.DataAccess.Contracts/obj/
src/Io.Juenger.GitShake.DataAccess.GitLab/bin/
src/Io.Juenger.GitShake.DataAccess.GitLab/bin
src/Io.Juenger.GitShake.DataAccess.GitLab/obj/
src/Io.Juenger.GitShake.UI/appsettings.Development.json
src/Io.Juenger.Common/bin/
src/Io.Juenger.Common/obj/
src/Io.Juenger.Common.Tests/obj/
src/Io.Juenger.Common.Tests/bin/
src/Tests/Io.Juenger.Common.Tests/bin/
src/Tests/Io.Juenger.Common.Tests/obj/
src/Tests/Io.Juenger.GitShake.Scrum.Tests/bin/
src/Tests/Io.Juenger.GitShake.Scrum.Tests/obj/
src/Io.Juenger.GitShake.Service/bin
src/Io.Juenger.GitShake.Service/obj
