@page "/ReleaseReport"
<h3>ReleaseReport</h3>

<div style="display: flex; justify-content: flex-start; width: 90vw; flex-wrap: wrap">
    <ReleaseBurnDownChart Stories="@Stories" StartDate="@ScrumConfig.ProjectStart"/>
</div>

<div style="display: flex; justify-content: flex-start; width: 90vw; flex-wrap: wrap; gap: 10px">
    <ItemsOverview Title="Completed" Items="@ClosedItems"/>
    <ItemsOverview Title="Open" Items="@OpenItems"/>
</div>