@using Radzen.Blazor

<RadzenCard Style="width:500px;">
    
    <h3 class="card-title">GitLab</h3>
    
    <b>Project ID</b>
    <RadzenTextBox @bind-Value="@ProjectId" Placeholder="28355012"/>
    
    <b class="mt-2">Access Token</b>
    <RadzenTextBox @bind-Value="@AccessToken" Placeholder="gplat-Rmd8WyXzGqKCTuXHRkYs"/>
    
</RadzenCard>