@using Radzen.Blazor
@using Radzen

<RadzenCard Style="width:1010px;">

    <h3>Release Burn-Up-Chart</h3>
    
    <RadzenChart>
        <RadzenLineSeries Smooth="@_smooth"
                          Data="@_burnUp"
                          CategoryProperty="X"
                          Title="Burn Up"
                          ValueProperty="Y">
            <RadzenMarkers MarkerType="MarkerType.None" />
        </RadzenLineSeries>
    
        <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" />
    
        <RadzenValueAxis>
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="Story Points" />
        </RadzenValueAxis>
    </RadzenChart>
    
</RadzenCard>