@using Radzen.Blazor

<RadzenCard Style="width:1010px;">

    <h3 class="card-title">Pass-Through Time</h3>

    <b>Velocity: @_velocity SP</b>
    <b>Velocity of best 3 Sprints: @_bestVelocity SP</b>
    <b>Velocity of worst 3 Sprints: @_worstVelocity SP</b>

</RadzenCard>