@using Radzen.Blazor

<RadzenCard Style="width:500px;">
    
    <h3 class="card-title">Velocity</h3>
    
    <RadzenChart>
            <RadzenLineSeries Smooth="@_smooth"
                              Data="@_velocitySeries"
                              CategoryProperty="X"
                              Title="Velocity"
                              ValueProperty="Y">
                <RadzenMarkers MarkerType="MarkerType.None" />
            </RadzenLineSeries>
        
            <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" />
        
            <RadzenValueAxis>
                <RadzenGridLines Visible="true" />
                <RadzenAxisTitle Text="Story Points" />
            </RadzenValueAxis>
        </RadzenChart>
    
    <b>Story Points: @_velocity SP</b>
    <b>Sprint Length: @SprintLength @(SprintLength == 1 ? "week" : "weeks")</b>
    
</RadzenCard>


