.board-component {
    display: flex;
    justify-content: flex-start;
}

.list-component {
    width: 300px;
    margin-left: 10px;
}

.dropzone {
    padding: 30px;
    border: 1px dashed #75868a;
    list-style: none;
}

.no-drop {
    border: 2px dashed red;
}

.can-drop {
    border: 2px dashed green;
}

.draggable {
    margin-bottom: 10px;
    padding: 10px 25px;
    border: 1px solid #424d5c;
    cursor: grab;
    background: #5c6b7f;
    color: #ffffff;
    border-radius: 5px;
    width: 250px;
}

.draggable:active {
    cursor: grabbing;
}

.dragging {
    cursor: grabbing;
}